# Ignore heavy IDE caches and extensions
Code/CachedExtensionVSIXs/
Code/Cache/
Code/CachedData/
Code/Logs/
Code/User/workspaceStorage/
google-chrome/
chromium/
BraveSoftware/
qutebrowser/
# Ignore general application caches and temp files
*Cache*
*cache*
*.log
*.tmp

