# Ignore heavy IDE caches and extensions
Code/
Claude/
google-chrome/
GIMP/
chromium/
BraveSoftware/
qutebrowser/
zen/
gh/
zed/
cursor/
Cursor/
zoom/
# Ignore general application caches and temp files
*Cache*
*cache*
*.log
*.tmp
zoom.conf
zoomus.conf
