; [Unit]
; Description=AGS Status Bar Component
; After=graphical-session.target
; PartOf=graphical-session.target
;
; [Service]
; Type=simple
; ExecStart=bash -c 'pkill gjs; uwsm app -- ags run'
; Restart=on-failure
; RestartSec=3
;
; [Install]
; WantedBy=graphical-session.target
[Unit]
Description=Waybar Status Bar
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=uwsm app -- waybar
Nice=10                     # Lowers CPU scheduling priority (0 is default, 19 is lowest)
CPUSchedulingPolicy=idle    # Only gives this app CPU cycles when the processor is otherwise resting
IOSchedulingClass=3         # 3 = Idle disk I/O priority. Stops disk reads from slowing down input response
Restart=on-failure
RestartSec=3

[Install]
WantedBy=hyprland-session.target dwl-session.target
