[Unit]
Description=Mako Notification Daemon
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
BusName=org.freedesktop.Notifications
ExecStart=uwsm app -- /usr/bin/mako
Nice=10                     # Lowers CPU scheduling priority (0 is default, 19 is lowest)
CPUSchedulingPolicy=idle    # Only gives this app CPU cycles when the processor is otherwise resting
IOSchedulingClass=3         # 3 = Idle disk I/O priority. Stops disk reads from slowing down input response
Restart=on-failure
RestartSec=2

[Install]
WantedBy=hyprland-session.target dwl-session.target
