[Unit]
Description=Waybar Status Bar
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=uwsm app -- /usr/bin/waybar
Restart=on-failure
RestartSec=3

[Install]
WantedBy=hyprland-session.target
